body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  background-color: #f7f7f7;
  margin: 0;
  padding-top: 60px;
}

.header {
  width: 100%;
  background-color: #0062cc;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  padding: 1rem 0;
  text-align: center;
  box-sizing: border-box;
}




/*
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
*/

.toggle-area {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 20px 0;
  padding: 20px;
}

.toggle-area .label-left,
.toggle-area .label-right {
  margin: 0 auto; /* Center both labels horizontally */
 
}

h3, p, span {
  color: black;
  text-align: center;
}

.airFryTimeTemp, .airFryRecipe {
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: calc(100% - 40px);
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #8a9cc3;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  width: calc(100% - 22px);
  box-sizing: border-box;
}

button {
  margin: 10px;
  padding: 10px;
  background-color: #8a9cc3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a7b9c;
}

.temp-unit {
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
}

.temp-unit label {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.temp-unit input[type="radio"] {
  margin-right: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1002;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}


.grow {
  animation: growEffect 0.5s ease forwards;
}

.shrink {
  animation: shrinkEffect 0.5s ease forwards;
}

@keyframes growEffect {
  from { transform: scale(0.95); }
  to { transform: scale(1); }
}

@keyframes shrinkEffect {
  from { transform: scale(1); }
  to { transform: scale(0.95); }
}