.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
    height: 10;
    gap: 10px;

}

.headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: white;
}

h1 {
    margin-bottom: 0; 
    margin-top: 0;
   
 
}

h1 span:first-child {
    color: black;
}

h1 span:last-child {
    color: #8a9cc3;
}

h3 {
    color: black;
    margin-top: 0; /* Remove margin at the top of h3 */
}

/* Added CSS for the signupPopup and overlay */
.signupPopup {
    position: fixed; /* or 'absolute' if you want it to be positioned relative to its parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other content */
}

.loginPopup {
    position: fixed; /* or 'absolute' if you want it to be positioned relative to its parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other content */

}


/* Optional: Add a background overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Below the popup but above other content */
}