.header {
    margin-bottom: 40px;
    background-color: white;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #8a9cc3;
    height: 40px;
    padding-right: 10px; /* Add padding to ensure content is not touching the edge */
    width: 100%;
}


.navigation h4 {
    flex-shrink: 0;
    min-width: 80px; /* Adjust as needed */
    margin-right: 10px; /* Ensure there is space between the items */
    white-space: nowrap; /* Prevent text from wrapping */
}

.headerInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    color: black;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Added drop shadow */
    width: 100%; /* Set width to 100% */
    margin: 0; /* Remove any default margin */
    width: 100%;
}

h1 {
    margin-bottom: 0; 
    margin-top: 0;
}

h1 span:first-child {
    color: black;
}

h1 span:last-child {
    color: #8a9cc3;
}

h3 {
    color: black;
    margin-top: 0; /* Remove margin at the top of h3 */
}

/* Added CSS for the signupPopup and overlay */
.signupPopup {
    position: fixed; /* or 'absolute' if you want it to be positioned relative to its parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other content */
}

.loginPopup {
    position: fixed; /* or 'absolute' if you want it to be positioned relative to its parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Adjust the width as needed */
    height: auto; /* Adjust the height as needed */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Ensure it's above other content */

}


/* Optional: Add a background overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; /* Below the popup but above other content */
}