form {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 10px; /* This adds space between your form elements */
  }
  
  h1 {
      color: black;
      margin: 10px;
      padding: 10px;
  }